<div class="modal-header">
  <h4 class="modal-title">Import Data</h4>
</div>

<div class="modal-body">
  <div class="form-inline">
    <form-field ng-repeat="f in form" meta="f" model="model"/>
  </div>
  <alert ng-if="loaded.$error" type="danger">{{loader.$error}}</alert>
  <div ng-if="loaded && loaded.$resolved && !loaded.$error">
    <h4>Preview</h4>
    <div class="table-responsive">
      <ng-table class="table-bordered table-striped summary" columns="loaded.header" data="loaded.rows" />
    </div>
    <h4>Import to:</h4>
    <div class="form-inline">
      <form-field ng-repeat="f in destParams" meta="f" model="dest" />
    </div>
    
    <div ng-show="dest.table" class="table-responsive" style="max-height:250px;" ng-switch="dest.table">
      <h4>Field Mappings:</h4>
      <table ng-switch-when="_" class="table">
        <thead>
          <tr>
            <th width="1px;"></th>
            <th>Dest. Column</th>
            <th>Data Type</th>
            <th>Size</th>            
            <th>Source Column</th>
            <th>Format</th>
            <th>Sequential</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in tableMeta.columns">
            <td><button class="btn btn-default" ng-click="tableMeta.columns.splice($index,1)"><span class="glyphicon glyphicon-minus"></span></button></td>
            <td><input class="form-control" type="text" ng-model="c.column_name" size="20" /></td>
            <td><select class="form-control" ng-model="c.type" ng-options="t.type_name as t.type_name for t in dbDataTypes"></select></td>
            <td><input class="form-control" type="text" ng-model="c.size" size="5" /></td>
            <td><select class="form-control" ng-model="dest.mappings[c.column_name].source" ng-options="h for h in loaded.header"></select></td>
            <td><input ng-if="requiresFormat(c)" class="form-control" type="text" size="12" ng-model="dest.mappings[c.column_name].format"/></td>
            <td></td>
          </tr>
          <tr>
            <td><button class="btn btn-default" ng-click="tableMeta.columns.push({})"><span class="glyphicon glyphicon-plus"></span></button></td>
            <td colspan="6"></td>
          </tr>
        </tbody>
      </table>
      
      <table ng-switch-default class="table">
        <tr>
          <th>Dest. Column</th>
          <th>Source Column</th>
          <th>Format</th>
          <th>Sequential</th>
        </tr>
        <tr ng-repeat="c in tableMeta.columns">
          <td>{{c.column_name}}</td>
          <td><select class="form-control" ng-model="dest.mappings[c.column_name].source" ng-options="h for h in loaded.header"></select></td>
          <td><input ng-if="requiresFormat(c)" class="form-control" type="text" ng-model="dest.mappings[c.column_name].format"/></td>
          <td></td>
        </tr>
      </table>
    </div>
    
    
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok(selected)">Import</button>
  <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
