
<div class="row">
  <div class="col-md-2">
    <table-list rows="30" ds="dsId" info-clicked="showTableInfo" preview-clicked="showTablePreview"/>
  </div>
  <div class="col-md-10">
    <tabset>
      <tab heading="SQL" active="tabSwitch['SQL']" >
        <div class="panel panel-default">
          <div class="panel-heading" style="padding:2px;">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="execute()">Execute <span class="glyphicon glyphicon-play"></span> </button>
                <button type="button" class="btn btn-default" ng-click="saveSql()">Save <span class="glyphicon glyphicon-save"></span></button>
                <button type="button" class="btn btn-default" ng-click="clear()">Clear <span class="glyphicon glyphicon-erase"></span></button>
              </div>
              <div class="btn-group" role="group" aria-label="...">
                <input type="text" class="form-control" placeholder="Search existing queries..." size="40"  typeahead="q.name for q in queries | filter:$viewValue" ng-model="query.name" typeahead-editable="false" typeahead-on-select="loadQuery($item, $model, $label)" focus-on="searchQuery"/>
              </div>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Copy To <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li ng-repeat="ds in datasources"><a ng-click="">{{ds.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel-body" style="padding:0px;">
            <textarea ui-codemirror ui-codemirror-opts="{mode:'text/x-sql', readOnly:false, autofocus:true, indentWithTabs:true, smartIndent:true, matchBrackets:true, extraKeys:{'Ctrl+Space':'autocomplete'}, hintOptions:{tables:tablesInfo}}" ng-model="query.sql" focus-on="enterSql"></textarea>
          </div>
          <div class="panel-footer">
            <div ng-show="result.rowsAffected" class="text-left">{{result.rowsAffected}}</div>
          </div>
        </div>
        <spinner hide-when="result.$resolved || !result" />
        <alert ng-if="result.$error" type="danger">{{result.$error}}</alert>
        <div class="table-responsive">
          <ng-table ng-show="result.data" class="table-bordered" columns="result.data.columns" data="result.data.rows"/>
        </div>
      </tab>
      <tab ng-repeat="(table, data) in previewTabs" active="tabSwitch[table]">
        <tab-heading>{{table}}(Preview) <a class="btn-link btn-sm" ng-click="removeTablePreview(table)"><span class="glyphicon glyphicon-remove"></span></a></tab-heading>
        <spinner hide-when="data.$resolved" />
        <div class="table-responsive">
          <ng-table class="table-bordered" columns="data.columns" data="data.rows"/>
        </div>
      </tab>
      <tab ng-repeat="(table, data) in infoTabs" active="tabSwitch['INFO-'+table]">
        <tab-heading>
          {{table}}(Info) <a class="btn-link btn-sm" ng-click="removeTableInfo(table)"><span class="glyphicon glyphicon-remove"></span></a>
        </tab-heading>
        <spinner hide-when="data.$resolved" />
        <tabset ng-show="data.$resolved">
          <tab heading="Columns">
            <div class="table-responsive">
              <ng-table class="table-bordered" columns="data.columns.columns" data="data.columns.rows"/>
            </div>
          </tab>
          <tab heading="Primary Key">
            <div class="table-responsive">
              <ng-table class="table-bordered" columns="data.primaryKes.columns" data="data.primaryKeys.rows"/>
            </div>
          </tab>
          <tab heading="Foreign Keys">
            <div class="table-responsive">
              <ng-table class="table-bordered" columns="data.foreignKeys.columns" data="data.foreignKeys.rows"/>
            </div>
          </tab>
        </tabset>
      </tab>
    </tabset>
    
  </div>
</div>
