
<div class="row">
  <div class="col-md-2">
    <table-list rows="30" ds="dsId" info-clicked="showTableInfo" preview-clicked="showTablePreview"/>
  </div>
  <div class="col-md-10">
    <tabset>
      <tab heading="SQL">
        <div class="panel panel-default">
          <div class="panel-heading" style="padding:2px;">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default" ng-click="execute()">Execute</button>
              <button type="button" class="btn btn-default" ng-click="save()">Save</button>
              <button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
            </div>
          </div>
          <div class="panel-body" style="padding:0px;">
            <textarea class="form-control" rows="10" ng-model="sql.text"></textarea>
          </div>
          <div class="panel-footer">
            <div ng-show="rowsAffected"  class="text-left">{{rowsAffected}}</div>
          </div>
        </div>
        <br/>
        <p ng-show="error" class="text-left">{{error}}</p>
        <ng-table ng-show="resultData" class="table-bordered" columns="resultData.columns" data="resultData.rows"/>
      </tab>
      <tab heading="{{table}}(Preview)" ng-repeat="(table, data) in previewTabs">
        <div class="table-responsive">
          <ng-table class="table-bordered" columns="data.columns" data="data.rows"/>
        </div>
      </tab>
      <tab heading="{{table}}(Info)" ng-repeat="(table, data) in infoTabs">
        <tabset>
          <tab heading="Columns">
            <div class="table-responsive">
              <ng-table class="table-bordered" columns="data.columns.columns" data="data.columns.rows"/>
            </div>            
          </tab>
          <tab heading="Primary Key">
            <div class="table-responsive">
              <ng-table class="table-bordered" columns="data.primaryKes.columns" data="data.primaryKeys.rows"/>
            </div>            
          </tab>
          <tab heading="Foreign Keys">
            <div class="table-responsive">
              <ng-table class="table-bordered" columns="data.foreignKeys.columns" data="data.foreignKeys.rows"/>
            </div>            
          </tab>
        </tabset>
      </tab>
    </tabset>
    
  </div>
</div>
