
<div class="row">
  <div class="col-md-2">
    <table-list rows="30" ds="ds.id" info-clicked="showTableInfo" preview-clicked="showTablePreview" active="active"/>
  </div>
  <div class="col-md-10">
    <tabset class="small-tabs">
      <tab heading="SQL" active="tabSwitch['SQL']" >
        <sql-panel ds-id="ds.id" active="active" />
      </tab>
      
      <tab active="tabSwitch['SQLB']">
        <tab-heading>
          Query Builder <close-button close="showSqlbuilder=false" />
        </tab-heading>
        <query-builder ds-id="ds.id" />
      </tab>
      
      <tab ng-repeat="(table, data) in previewTabs" active="tabSwitch[table]">
        <tab-heading>{{table}}(Preview) <close-button close="removeTablePreview(table)" /></tab-heading>
        <spinner hide-when="data.$resolved" />
        <div class="table-responsive">
          <ng-table class="table-bordered summary" columns="data.columns" data="data.rows"
                    show-more-fn="fetchNext(table)" has-more="true"/>
        </div>
      </tab>
      <tab ng-repeat="(table, data) in infoTabs" active="tabSwitch['INFO-'+table]">
        <tab-heading>
          {{table}}(Info) <close-button close="removeTableInfo(table)" />
        </tab-heading>
        <spinner hide-when="data.$resolved" />
        <tabset ng-show="data.$resolved">
          <tab heading="Columns">
            <div class="table-responsive">
              <ng-table class="table-bordered" keys="column_name,data_type,type_name,column_size,decimal_digits,nullable" data="data.columns"/>
            </div>
          </tab>
          <tab heading="Primary Key">
            <div class="table-responsive">
              <ng-table class="table-bordered" keys="column_name,key_seq,pk_name" data="data.primaryKeys"/>
            </div>
          </tab>
          <tab heading="Foreign Keys">
            <div class="table-responsive">
              <ng-table class="table-bordered" keys="pktable_name,pkcolumn_name,fkcolumn_name,key_seq,fktable_name" data="data.foreignKeys" />
            </div>
          </tab>
        </tabset>
      </tab>
    </tabset>
    
  </div>
</div>
