
<div class="form-group" ng-switch="meta.type" ng-hide="meta.hide">
  <label for="{{meta.field}}">{{meta.label}}</label>
  <select ng-switch-when="select" id="{{meta.field}}" class="form-control" ng-change="meta.onchange && meta.onchange()" ng-model="model[meta.field]" >
    <option value="{{k}}" ng-repeat="(k,v) in meta.staticOptions">{{v}}</option>
    <option value="{{k}}" ng-repeat="(k,v) in meta.options">{{v}}</option>
  </select>
  <button ng-switch-when="button" class="btn" ng-class="btn-{{meta.style}}" ng-click="meta.handler()">{{meta.value}}</button>
  <input ng-switch-when="file" id="{{meta.field}}" class="form-control" type="{{meta.type}}" file-model="model[meta.field]" placeholder="{{meta.placeholder}}" />
  <div class="checkbox" ng-switch-when="checkbox">
    <label><input id="{{meta.field}}" type="{{meta.type}}" ng-model="model[meta.field]" /></label>
  </div>
  <input ng-switch-default id="{{meta.field}}" class="form-control" type="{{meta.type}}" ng-model="model[meta.field]" />
  
</div>
