<form class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">From:</label>
    <div class="col-sm-4">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="table(s) to query from..." size="40"  typeahead="t for t in tables | filter:$viewValue" ng-model="model.table" typeahead-editable="false" typeahead-on-select="addTable($item, $model, $label)" focus-on="selectTables" typeahead-min-length="0" />
        <span class="input-group-btn">
          <div class="btn-group" dropdown dropdown-append-to-body auto-close="disabled">
            <button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>
              Related <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="(rt,i) in relatedTables"><a href="" ng-click="addRelated(rt)"><span class="glyphicon glyphicon-plus-sign"></span> {{rt}}</a></li>
            </ul>
          </div>
        </span>
      </div>
      <div class="tags">
        <span class="label label-default" ng-repeat="t in fromTables">{{t}} <close-button close="delTable($index)" /> </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">Columns:</label>
    <div class="col-sm-11">
      <div class="row">
        <div class="col-md-4">
          <label for="columns" class="control-label">Available:</label>
          <select class="form-control" multiple size="6"  >
            <option value="{{col}}" ng-dblclick="moveCol(col,availableColumns,selectedColumns)" ng-repeat="col in availableColumns | orderBy:col">{{col}}</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="columns" class="control-label">Selected:</label>
          <select class="form-control" multiple size="6">
            <option value="{{col}}" ng-dblclick="moveCol(col,selectedColumns, availableColumns)" ng-repeat="col in selectedColumns | orderBy:col">{{col}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="columns" class="col-sm-1 control-label">Where:</label>
    <div class="col-sm-10 row">
      <div class="col-sm-4">
        <select class="form-control" >
          <option value="{{col}}" ng-repeat="col in availableColumns">{{col}}</option>
        </select>
      </div>
      <div class="col-sm-1">
        <select class="form-control">
          <option value="{{op}}" ng-repeat="op in ['=','is','<=','>=','>','<','in', 'not']">{{op}}</option>
        </select>
      </div>
      <div class="col-sm-6">
        <select class="form-control">
          <option value="{{operand}}" ng-repeat="operand in ['Value','Column','Expression']">{{operand}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="columns" class="col-sm-1 control-label">Where:</label>
    <div class="col-sm-6">
      <div class="input-group">
        <select class="form-control" >
          <option value="{{col}}" ng-repeat="col in availableColumns">{{col}}</option>
        </select>
        <span class="input-group-btn">
          <select class="form-control">
            <option value="{{op}}" ng-repeat="op in ['=','is','<=','>=','>','<','in', 'not']">{{op}}</option>
          </select>
          <div class="btn-group" dropdown dropdown-append-to-body auto-close="disabled">
            <button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="">Value: <input name="" type="text" value=""/> </a></li>
              <li><a href="">Expression: <input name="" type="text" value=""/> </a></li>
              <li><a href="">Column:
                  <select class="form-control" >
                    <option value="{{col}}" ng-repeat="col in availableColumns">{{col}}</option>
                  </select>
                  
              </a></li>
            </ul>
          </div>
          
        </span>
      </div>
    </div>
  </div>
</form>
