<form class="form-horizontal">
  <div class="row">
    <div class="col-md-3">
      <label for="">Available Tables:</label>
      <div class="form-group">
        <select mutiple size="10" class="form-control">
          <option value="{{t}}" ng-repeat="t in tables">{{t}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <label for="">Selected:</label>
      <div class="form-group" >
        <select mutiple size="10" class="form-control">
          <option value="{{t}}" ng-repeat="t in fromTables">{{t}}</option>
        </select>
      </div>
    </div>
  </div>
</form>
<script type="text/ng-template" id="selectTablesTemplate.html">
  <div class="col-md-12">
    <form >
      <div class="form-group">
        <select class="form-control" ng-model="selectedTables" ng-options="t for t in tables"></select>
      </div>
      <div class="form-group">
        <div class="checkbox" ng-repeat="rt in relatedTables">
          <label>
            <input type="checkbox" ng-model="selectedRelatedTables" />
            {{rt}}
          </label>
        </div>
      </div>
    </form>
    
  </div>
</script>
