<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body row">
  <div class="col-sm-12">
    <form ng-submit="ok(selected)">
      <div class="form-group">
        <select class="form-control" ng-options="item as item.name for item in items" ng-model="selected" >
          <option value="" disabled>Select Database</option>
        </select>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok(selected)">Ok</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
