<div class="modal-header">
  <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <select class="form-control" ng-options="item as item.name for item in items" ng-model="selected" >
        <option value="" disabled>Select Database</option>
      </select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok(selected)">Ok</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
