<div class="panel panel-default">
  <div class="panel-heading" style="padding:2px;">
    <div class="btn-toolbar" role="toolbar" aria-label="...">
      <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="execute()"
                  title="Execute Query">
              <span class="glyphicon glyphicon-play"></span> </button>
          <button type="button" class="btn btn-default" ng-click="saveSql()"
                  title="Save Query">
     <span class="glyphicon glyphicon-save"></span></button>
          <button type="button" class="btn btn-default" ng-click="clear()"
                  title="Clear">
              <span class="glyphicon glyphicon-erase"></span></button>
          <button type="button" class="btn btn-default" ng-click="deleteQuery()" title="Delete query" ng-disabled="!query.id">
              <span class="glyphicon glyphicon-trash"></span></button>
      </div>
      <div class="btn-group" role="group" aria-label="...">
          <input type="text" class="form-control" placeholder="Search existing queries..."
                 size="40"  typeahead="q.name for q in queries | filter:$viewValue"
                 ng-model="query.name" typeahead-editable="false"
                 typeahead-on-select="loadQuery($item, $model, $label)" focus-on="searchQuery"/>
      </div>
      <div ng-if="query.id" class="btn-group" role="group" dropdown on-toggle="loadAssocs(open)"
           aria-label="...">
          <button type="button" class="btn btn-default dropdown-toggle"
                  dropdown-toggle data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" >
              Copy To<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="ds in assocs"><a ng-click="flipAssoc(ds)">
                <span ng-if="ds.query_id" class="glyphicon glyphicon-ok"></span> {{ds.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body" style="padding:0px;">
      <textarea ui-codemirror="{mode:'text/x-sql', readOnly:false, autofocus:true, indentWithTabs:true, smartIndent:true, matchBrackets:true, extraKeys:{'Ctrl+Space':'autocomplete'}, hintOptions:{tables:tablesInfo}, onLoad:editorLoaded}"
                ng-model="query.sql" focus-on="enterSql"></textarea>
  </div>
  <div class="panel-footer">
    <div ng-show="result.rowsAffected" class="text-left">{{result.rowsAffected}}</div>
  </div>
  <spinner hide-when="result.$resolved || !result" />
  <alert ng-if="result.$error" type="danger">{{result.$error}}</alert>
  <tabset>
    <tab ng-repeat="r in results" active="activeTab[r.id]">
        <tab-heading title="{{r.sql}}">Result #{{$index}}
            <a href="" title="refresh" ng-click="refresh(r)"><span class="glyphicon glyphicon-refresh"></span></a>
            <close-button close="closeResult($index)"/>
        </tab-heading>
      <div class="table-responsive">
          <ng-table class="table-bordered summary" columns="r.data.columns"
                    data="r.data.rows" has-more="r.hasMore" show-more-fn="fetchNext($index)" />
      </div>
    </tab>
  </tabset>
