
<div class="panel panel-default">
  <div class="panel-heading" style="padding:2px;">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <button type="button" class="btn btn-default" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button>
      <button type="button" class="btn btn-default" ng-click="previewClicked(model.items)" title="Preview selected tables"><span class="glyphicon glyphicon-list-alt"></span></button>
      <button type="button" class="btn btn-default" ng-click="infoClicked(model.items)" title="Metadata of selected tables"><span class="glyphicon glyphicon-info-sign"></span></button>
      <button type="button" class="btn btn-default" ng-click="sqlBuilder(model.items)" title="Query builder"><span class="glyphicon glyphicon-wrench"></span></button>
    </div>
  </div>
  <div class="panel-body" style="padding:0px;">
    <tabset class="small-tabs">
      <tab>
        <tab-heading>Tables </tab-heading>
        <input ng-show="model.searchActive" focus-on="tableSearchActivated" type="text" class="form-control" placeholder="Type table name..." size="30"  ng-model="model.filterValue"/>
        <spinner hide-when="tables.$resolved"></spinner>
        <select ng-show="tables.$resolved" ng-model="model.items" class="form-control" style="width:100%; height:80%" ng-options="table for table in tables | filter:model.filterValue" multiple
                size="25" >
        </select>
      </tab>
      <tab heading="Views">
        <select class="form-control" style="width:100%; height:80%" ng-options="table for table in views" multiple ng-model="model1"
                size="25" >
        </select>
      </tab>
    </tabset>
    
  </div>
</div>
