    <div class="panel panel-default">
      <div class="panel-heading" style="padding:2px;">
        {{heading || 'Tables'}}
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button>
          <button type="button" class="btn btn-default" ng-click="_showData(selected)"><span class="glyphicon glyphicon-list-alt"></span></button>
          <button type="button" class="btn btn-default" ng-click="doShowInfo(selected)"><span class="glyphicon glyphicon-info-sign"></span></button>
        </div>
      </div>
      <div class="panel-body" style="padding:0px;">
        <select class="form-control" style="width:100%; height:100%" ng-options="table for table in data" multiple ng-model="selected" size="{{size || '20'}}" >
        </select>
      </div>
    </div>
