<div class="row">
  <div class="col-md-4">
    <h3>Tables</h3>
    <select class="form-control" ng-options="table for table in tables" multiple ng-model="selected" ng-change="tableSelected(table)" >
      
    </select>
  </div>
  <div class="col-md-8">
    <table ng-if="selected" class="table table-bordered">
      <thead>
        <tr>
         <th ng-repeat="col in data.columns">{{col}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in data.rows">
          <td ng-repeat="item in row">{{item}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
