.form-signin{
    max-width:360px;
    margin:0 auto;
    padding:15px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.summary td{
    max-width:200px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.summary th{
  white-space:nowrap;
  cursor:pointer;
}

.tags .label .close {
    float:none;
    vertical-align:middle;
    padding:0px;
}
.tags {
    display:inline-block;
    padding:5px 0px;
}
.tags .label {
    margin-right:3px;
    font-size:13px;
}

.typeahead-list {
    list-style-type: none;
    padding: 5px;
    margin-top: 3px;
    border: solid 1px grey;
    border-radius: 3px;
    position: absolute;
    z-index: 100;
    background-color: white;
    overflow-y: scroll;
    max-height: 300px;
    min-width: 220px;
    max-width: 445px;}


.typeahead-item {
  padding: 3px;
}

li.highlighted
{
  padding: 3px;
  border: 1px solid grey;
  background-color: grey;
  color: white;
}
