html, body{
  height:100%;
}

body > div {
  height:100%;
}

.full-height{
  height:95%;
}

.full-height > .panel-body {
  height:95%;
  overflow-y:scroll;
}

.compact {
  padding:2px;
}

.selected {
  background:#dddddd;
}

.pointed {
  background:#dddddd;
}

.tabset, .tab-content, .tab-pane, .tabbable {
  height:100%;
}

.form-signin{
  max-width:360px;
  margin:0 auto;
  padding:15px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.small-tabs ul li a {
  padding:4px !important;
}
.CodeMirror {
  height:200px !important;
}
/* .navbar { min-height:28px; height: 28px; } */
/* .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; } */
/* .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; } */

.navbar { min-height:40px; height: 40px; margin-bottom:11px;}
.navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }
.navbar .navbar-text {margin-top: 0px; margin-bottom: 0px; line-height: 40px; }

.tab-content {margin-top:5px;}
.table > tbody > tr > td {
  line-height:0.6 !important;
}
