.split-panes
{
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: relative;
  display:flex;
}

.split-panes > .split-handler
{
  background: transparent;
  z-index: 999;
  flex:initial;
}

/* Horizontal */
.split-panes.horizontal{
  height:100%;
  flex-direction: row;
}

.split-panes.horizontal > .split-handler
{
  width: 4px;
  top: 0px;
  bottom: 0px;
  cursor: ew-resize;
  height:100%;
}

.split-panes.horizontal > .split-pane1,
.split-panes.horizontal > .split-pane2
 {
   height: 100%;
 }

.split-panes.horizontal > .split-pane1
{
  width: 50%;
}

.split-panes.horizontal > .split-pane2
{
  flex: 1;
}
/* collapsing */
.split-panes.collapsed > .split-pane1 {
  display:none;
}

.split-panes.horizontal > .split-handler a{
  margin-left: -30px;
}
.split-panes.collapsed.horizontal > .split-handler {
  width:20px;
  cursor: default;
}

.split-panes.collapsed.horizontal > .split-handler a {
  margin-left:-10px;
}

.split-panes.vertical > .split-handler a {
  margin-top: -40px;
  float:right;
  padding-right:5px;
}

.split-panes.collapsed.vertical > .split-handler {
  height:20px;
  cursor: default;
}

.split-panes.collapsed.vertical > .split-handler a {
  margin-top:-15px;
}


/* Vertical */
.split-panes.vertical{
  height:100%;
  flex-direction:column;
}

.split-panes.vertical > .split-handler
{
  height: 4px;
  left: 0px;
  right: 0px;
  cursor: ns-resize;
}

.split-panes.vertical > .split-pane1,
.split-panes.vertical > .split-pane2
 {
   width: 100%;
 }

.split-panes.vertical > .split-pane1
{
  height: 50%;
}

.split-panes.vertical > .split-pane2
{
  flex:1;
}
